a.one:link {color:#ffffff;text-decoration:none;}      /* 未访问链接*/
a.one:visited {color:#ffffff;text-decoration:none;}  /* 已访问链接 */
a.one:hover {color:#ffffff;text-decoration:underline;}  /* 鼠标移动到链接上 */
a.one:active {color:#ffffff;text-decoration:underline;}  /* 鼠标点击时 */

a.two:link {color:#ffffff;text-decoration:none;}
a.two:visited {color:#ffffff;text-decoration:none;}
a.two:hover {color:#ffffff;text-decoration:underline;}
a.two:active {color:#ffffff;text-decoration:underline;}

a.three:link {color:#ffffff;text-decoration:none;}
a.three:visited {color:#ffffff;text-decoration:none;}
a.three:hover {color:#ffffff;text-decoration:underline;}
a.three:active {color:#ffffff;text-decoration:underline;}

a.four:link {color:#2428ff;text-decoration:none;}
a.four:visited {color:#2428ff;text-decoration:none;}
a.four:hover {color:#2428ff;text-decoration:none;}
a.four:active {color:#2428ff;text-decoration:none;}

a.five:link {color:#2428ff;text-decoration:none;}
a.five:visited {color:#2428ff;text-decoration:none;}
a.five:hover {color:#2428ff;text-decoration:underline;}
a.five:active {color:#2428ff;text-decoration:underline;} 

.button1 {
         background-color: #ffffff; 
         border: none;/*边框*/
         color: rgb(23, 39, 255);
         padding: 5px 34px;/*边距 上下与左右*/
         text-align: center;
         text-decoration: none;/*装饰*/
         display: inline-block;
         font-size: 16px;
         margin: 4px 2px;
         cursor: pointer;/*光标*/
         border-radius: 12px;/*圆角*/
         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button2 {
         background-color: #0066da; 
         border: none;/*边框*/
         color: rgb(255, 255, 255);
         padding: 13px 70px;/*边距 上下与左右*/
         text-align: center;
         text-decoration: none;/*装饰*/
         display: inline-block;
         font-size: 30px;
         margin: 4px 2px;
         cursor: pointer;/*光标*/
         border-radius: 30px;/*圆角*/
         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button3 {
         background-color: #0066da; 
         border: none;/*边框*/
         color: rgb(255, 255, 255);
         padding: 13px 40px;/*边距 上下与左右*/
         text-align: center;
         text-decoration: none;/*装饰*/
         display: inline-block;
         font-size: 30px;
         margin: 4px 2px;
         cursor: pointer;/*光标*/
         border-radius: 35px;/*圆角*/
         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button4 {
         background-color: #00b7ff; 
         border: none;/*边框*/
         color: rgb(255, 255, 255);
         padding: 13px 70px;/*边距 上下与左右*/
         text-align: center;
         text-decoration: none;/*装饰*/
         display: inline-block;
         font-size: 30px;
         margin: 4px 2px;
         cursor: pointer;/*光标*/
         border-radius: 35px;/*圆角*/
         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type=text] {
  width: 430px;
  padding: 17px 20px;
  margin: 16px 0;
  box-sizing: border-box;
  border: 0px;
  border-radius: 18px;
  font-size: 16px;
  color: rgb(102, 102, 102);
}
body{
  background-image: url('backgrand.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow: scroll;
}
.top1 {
    font-family:"微软雅黑";
    font-size: 40px;
    color: #2a71db;
    float: left;
    position: absolute;
    left: 230px;
    top: 0px;
  }
  .top2{
    font-family:"微软雅黑";
    font-size: 17px;
    color: white;
    float: right;
    position: absolute;
    top: 75px;
    right: 650px;
  }
  .top3{
    font-family:"微软雅黑";
    font-size: 17px;
    color: white;
    float: right;
    position: absolute;
    top: 75px;
    right: 510px;
  }
  .top4{
    font-family:"微软雅黑";
    font-size: 17px;
    color: white;
    float: right;
    position: absolute;
    top: 75px;
    right: 350px;
  }
  .top5{
    font-family:"微软雅黑";
    font-size: 16px;
    color: rgb(35, 78, 219);
    float: right;
    position: absolute;
    top: 68px;
    right: 200px;
  }
  .m1{
    font-family:"微软雅黑";
    font-size: 40px;
    color: rgba(0, 0, 0, 0.698);
    float: left;
    position: absolute;
    top: 140px;
    left: 300px;
  }
  .m2{
    font-family:"微软雅黑";
    font-size: 15px;
    color: rgba(112, 112, 112, 0.74);
    float: left;
    position: absolute;
    top: 310px;
    left: 300px;
  }
  .m3{
    font-family:"微软雅黑";
    font-size: 33px;
    color: rgb(255, 255, 255);
    float: left;
    position: absolute;
    top: 500px;
    left: 300px;
  }
  .m4{
    font-family:"微软雅黑";
    font-size: 28px;
    color: rgb(77, 77, 77);
    float: left;
    position: absolute;
    top: 950px;
    left: 600px;
  }
  .m5{
    font-family:"微软雅黑";
    font-size: 20px;
    color: rgb(36, 36, 36);
    float: left;
    position: absolute;
    top: 1300px;
    left: 350px;
  }
  .m6{
    font-family:"微软雅黑";
    font-size: 14px;
    color: rgb(99, 99, 99);
    float: left;
    position: absolute;
    top: 1370px;
    left: 350px;
  }
  .m7{
    font-family:"微软雅黑";
    font-size: 20px;
    color: rgb(36, 36, 36);
    float: right;
    position: absolute;
    top: 1635px;
    right: 620px;
  }
  .m8{
    font-family:"微软雅黑";
    font-size: 14px;
    color: rgb(99, 99, 99);
    float: right;
    position: absolute;
    top: 1710px;
    right: 368px;
  }
  .m9{
    font-family:"微软雅黑";
    font-size: 20px;
    color: rgb(36, 36, 36);
    float: left;
    position: absolute;
    top: 1960px;
    left: 350px;
  }
  .m10{
    font-family:"微软雅黑";
    font-size: 14px;
    color: rgb(99, 99, 99);
    float: left;
    position: absolute;
    top: 2025px;
    left: 350px;
  }
  .m11{
    font-family:"微软雅黑";
    font-size: 17px;
    color: rgb(255, 255, 255);
    float: right;
    position: absolute;
    top: 2025px;
    right: 427px;
  }
  .m12{
    font-family:"微软雅黑";
    font-size: 38px;
    color: rgb(77, 77, 77);
    float: left;
    position: absolute;
    top: 2320px;
    left: 400px;
  }
  .m13{
    font-family:"微软雅黑";
    font-size: 16px;
    color: rgb(36, 36, 36);
    float: left;
    position: absolute;
    top: 2520px;
    left: 330px;
  }
  .m14{
    font-family:"微软雅黑";
    font-size: 16px;
    color: rgb(36, 36, 36);
    float: left;
    position: absolute;
    top: 2520px;
    left: 700px;
  }
  .m15{
    font-family:"微软雅黑";
    font-size: 16px;
    color: rgb(36, 36, 36);
    float: left;
    position: absolute;
    top: 2520px;
    left: 1130px;
  }
  .m16{
    font-family:"微软雅黑";
    font-size: 25px;
    color: rgb(36, 80, 202);
    float: left;
    position: absolute;
    top: 2550px;
    left: 330px;
  }
  .m17{
    font-family:"微软雅黑";
    font-size: 26px;
    color: rgb(77, 77, 77);
    float: left;
    position: absolute;
    top: 2760px;
    left: 620px;
  }
  .m18{
    font-family:"微软雅黑";
    font-size: 18px;
    color: rgb(77, 77, 77);
    float: left;
    position: absolute;
    top: 3110px;
    left: 320px;
  }
  .m19{
    font-family:"微软雅黑";
    font-size: 18px;
    color: rgb(77, 77, 77);
    float: left;
    position: absolute;
    top: 3110px;
    left: 650px;
  }
  .m20{
    font-family:"微软雅黑";
    font-size: 18px;
    color: rgb(77, 77, 77);
    float: left;
    position: absolute;
    top: 3110px;
    left: 980px;
  }
  .m21{
    font-family:"微软雅黑";
    font-size: 13px;
    color: rgb(94, 94, 94);
    float: left;
    position: absolute;
    top: 3200px;
    left: 320px;
  }
  .m22{
    font-family:"微软雅黑";
    font-size: 13px;
    color: rgb(94, 94, 94);
    float: left;
    position: absolute;
    top: 3200px;
    left: 650px;
  }
  .m23{
    font-family:"微软雅黑";
    font-size: 13px;
    color: rgb(94, 94, 94);
    float: left;
    position: absolute;
    top: 3170px;
    left: 980px;
  }
  .m24{
    font-family:"微软雅黑";
    font-size: 12px;
    color: rgb(0, 96, 250);
    float: left;
    position: absolute;
    top: 3360px;
    left: 320px;
  }
  .m25{
    font-family:"微软雅黑";
    font-size: 12px;
    color: rgb(0, 96, 250);
    float: left;
    position: absolute;
    top: 3360px;
    left: 650px;
  }
  .m26{
    font-family:"微软雅黑";
    font-size: 12px;
    color: rgb(0, 96, 250);
    float: left;
    position: absolute;
    top: 3360px;
    left: 980px;
  }
  .m27{
    font-family:"微软雅黑";
    font-size: 26px;
    color: rgb(255, 255, 255);
    float: left;
    position: absolute;
    top: 3670px;
    left: 540px;
  }
  .a{
    font-family:"微软雅黑";
    font-size: 16px;
    color: rgb(102, 102, 102);
    float: left;
    position: absolute;
    top: 3800px;
    left: 530px;
  }
  .m28{
    font-family:"微软雅黑";
    font-size: 18px;
    color: rgb(255, 255, 255);
    float: left;
    position: absolute;
    top: 4015px;
    left: 660px;
  }
  .f1{
    font-family:"微软雅黑";
    font-size: 14px;
    color: rgb(255, 255, 255);
    float: left;
    position: absolute;
    top: 4230px;
    left: 210px;
  }
  .f2{
    font-family:"微软雅黑";
    font-size: 14px;
    color: rgb(255, 255, 255);
    float: left;
    position: absolute;
    top: 4230px;
    left: 500px;
  }
  .f3{
    font-family:"微软雅黑";
    font-size: 14px;
    color: rgb(255, 255, 255);
    float: left;
    position: absolute;
    top: 4230px;
    left: 730px;
  }
  .f4{
    font-family:"微软雅黑";
    font-size: 14px;
    color: rgb(255, 255, 255);
    float: left;
    position: absolute;
    top: 4230px;
    left: 980px;
  }
  .f5{
    font-family:"微软雅黑";
    font-size: 14px;
    color: rgb(255, 255, 255);
    float: left;
    position: absolute;
    top: 4230px;
    left: 1200px;
  }
